<form role="form">
  <div class="form-group">
    <label for="author" class="control-label">Author</label>
    <input type="text" ng-model="post.author" class="form-control" id="author" placeholder="Enter the post author">
  </div>
  <div class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" ng-model="post.title" class="form-control" id="title" placeholder="Enter the post title">
  </div>
  <div class="form-group">
    <label for="content" class="control-label">Content</label>
    <textarea ng-model="post.content" class="form-control" id="content" placeholder="Enter the content of the post" rows="10"></textarea>
  </div>
  <div class="form-group">
    <label for="content" class="control-label">Image URL</label>
    <input type="text" ng-model="post.image_url" class="form-control" id="image_url" placeholder="Enter the URL of the image you want to use as a banner">
  </div>
  <div class="form-group">
    <label for="content" class="control-label">Tags</label>
    <input type="text" ng-model="post.tags" class="form-control" id="tags" placeholder="Enter a comma separated list of tags">
  </div>

  <input type="submit" class="btn btn-primary" ng-click="savePost()" value="Save">
</form>